<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<footer>
		<h6>by WILLIAM FEREBEE</h6>
	</footer>
</html>
